    h1{
        color: #84482D;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    p{
        color: #1C1D1F;
        font-size: 18px;
        font-weight: 1.5em;
    }
    div{
        display: flex;
        justify-content: space-around;
        border: 2px solid #BE6841;
        padding: 20px;
        width: 150px;
        margin: 100px;
    }

